/* Configurações Iniciais */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

:root {

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Fim Configurações Iniciais */

/* Conteudo */

.container-cards {
    max-width: 110.0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 2.0rem;
    grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
}

.card-daniel {
    background-color: var(--moderate-violet);
    grid-area: daniel;
    position: relative;
    z-index: 1;
}

.card-jonathan {
    background-color: var(--very-dark-grayish-blue);
    grid-area: jonathan;
}

.card-jeanette {
    background-color: var(--white);
    grid-area: jeanette;
}

.card-patrick {
    background-color: var(--very-dark-blackish-blue);
    grid-area: patrick;
}

.card-kira {
    background-color: var(--white);
    grid-area: kira;
}

.card {
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

.card,
.img-profile {
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.712);
}

.card:hover .img-profile {
    width: 35px;
}

.profile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.sub-titulo,
.profile {
    margin-bottom: 15px;
}

.img-profile {
    border-radius: 50%;
    width: 30px;
}

.text-profile {
    margin-left: 15px;
    text-align: left;
}

.name,
.verifired {
    display: block;
}

.verifired {
    font-size: 1.2rem;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 20px;
}

.color-name-white {
    color: rgba(255, 255, 255, 0.8);
}

.color-name-cinza {
    color: hsla(217, 30%, 14%, 0.7);
}

.color-text-white {
    color: rgba(207, 207, 207, 0.5);
}

.color-text-cinza {
    color: hsla(217, 19%, 35%, 0.7);
}

.card-daniel .img-profile {
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.card-patrick .img-profile {
    border: 2px solid var(--moderate-violet);
}

.text {
    line-height: 17px;
}

.card-daniel::after {
    content: "";
    background: url('../img/bg-pattern-quotation.svg') no-repeat;
    background-size: 10.0rem 11.3rem;
    width: 10.2rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 9.0rem;
    z-index: -1;
}

/* Fim Conteudo */

/* Responsivo */

@media (max-width:1110px) {
    body {
        padding: 0 25px;
    }

    .container-cards {
        margin: 50px 0 50px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "daniel daniel"
            "jonathan jeanette"
            "patrick patrick"
            "kira kira";
    }
}

@media (max-width:540px) {
    .container-cards {
        grid-template-columns: 1fr;
        grid-template-areas:
            "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
    }

    .card-daniel::after {
        margin-right: 6px;
    }
}

/* Fim Responsivo */